<html lang="ru"><head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="user-scalable=yes,width=device-width,initial-scale=1">
    <title>Авторизация - Госзакупки+</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/index.css">
    <link href="/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
	<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/bower_components/moment/min/moment-with-locales.min.js"></script>
	<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <style>
    input {
        width: 250px;
        height: 40px;
        margin: 10px;
    }
    </style>


</head>
    <body>

            


        <main>
            <form action="/hi/" method="GET">
                <section style="
    text-align: center;
">
                    <input tabindex="1" type="text" name="email" placeholder="Email" title="Введите адрес вашей электронной почты" value="{{.Email}}" style="
    width: 250px;
    height: 40px;
    margin: 10px;
    padding: 10px;
"><br>
                    <input tabindex="2" type="password" name="password" placeholder="Пароль" title="Введите ваш пароль" value="{{.Password}}" style="
    width: 250px;      height: 40px;  };
    margin: 10px;
    padding: 10px;
"><br>
{{if ne $.Error ""}}
<span style="color:red">Проверьте правильность введенных данных!</span><br>
{{end}}
<a href="/remind/?email={{.Email}}" style="">Забыли пароль?</a><span style="margin-left: 3px;margin-right: 3px;">|</span><a href="/signup/">Демо доступ</a><br><input tabindex="3" type="submit" value="Вход" style="
    width: 250px;      height: 40px;  };
    margin: 10px;
">
<hr style="width: 300px;">
                </section>

            </form>



        </main>
        <script>
		</script>



</body></html>
