<html lang="ru"><head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="user-scalable=yes,width=device-width,initial-scale=1">
    <title>Смена пароль - Госзакупки+</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/index.css">
    <link href="/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
	<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/bower_components/moment/min/moment-with-locales.min.js"></script>
	<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>


</head>
    <body>

        <main>
            <form action="/user/password/" method="POST">
                <section style="text-align: center;">
                    <a style="border:0px" href="/">
</a><br><input tabindex="1" type="password" name="new" placeholder="Новый пароль" title="Введите новый пароль" value="" style=" width: 250px;  height: 40px; margin: 10px; padding: 10px;"><br>

<span>Ваш новый пароль будет отправлен Вам на почту.</span>

                    <br>
<input tabindex="2" type="submit" value="Изменить пароль" style=" width: 250px;height: 40px;margin: 10px;">
<hr style="width: 300px;">
                </section>

            </form>



        </main>
        <script>
			</script>






</body><span class="gr__tooltip"><span class="gr__tooltip-content"></span><i class="gr__tooltip-logo"></i><span class="gr__triangle"></span></span></html>
